<footer class="site-footer font-weight-light pt-3">
  <div class="container">
    <div class="row text-center mb-4">
      <h6 class="site-title d-inline p-1 text-uppercase m-auto">
        {{site.title}}
      </h6>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h5>Contact Us</h5>
        <div>
          <p>
            {{site.title}}
          </p>

          <p>
            Phone:
            <a href="tel:+91 94256 29998">+91 94256 29998</a>,
          </p>
          <p>
            E Mail:
            <a href="mailto:hello@muneemapp.com">hello@muneemapp.com</a>
          </p>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <h5>Products</h5>
        <ul class="footer-links list-unstyled">
          <li><a href="/machines">Login</a></li>
          <li><a href="/hand-tools">Sign Up</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h5>Quick Links</h5>
        <ul class="footer-links list-unstyled">
          <li><a href="/about">About Us</a></li>
        </ul>
      </div>
    </div>
    <hr color="lightgrey" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; {{ site.time | date: '%Y' }} All Rights Reserved by
          <a href="/">{{ site.title }}</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
