<nav class="navbar navbar-expand-lg navbar-light hero text-light pt-3 pb-1">
  <a class="navbar-brand" href="/"
    ><h2 class="site-title section-head">
      <img
        src="/assets/images/logo-no-text.png"
        height="55"
        alt="muneem app logo"
      /></h2
  ></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="text-light font-weight-bold nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="text-light font-weight-bold nav-link" href="/#features"
          >Features</a
        >
      </li>
      <li class="nav-item">
        <a class="text-light font-weight-bold nav-link" href="/#pricing"
          >Pricing</a
        >
      </li>
      <li class="nav-item mr-3">
        <a class="text-light font-weight-bold nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-success font-weight-bold my-2 my-sm-0 text-grey"
          href="https://auth.muneemapp.com/login?client_id=u97etghpk5p79mi00kt42lt0u&response_type=token&scope=email+openid+phone+profile&redirect_uri=https://my.muneemapp.com/dashboard"
          >Try Muneem</a
        >
      </li>
    </ul>
  </div>
</nav>
