<nav
  class="navbar navbar-expand-lg navbar-dark hero text-light sticky-top pt-3 pb-3"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="text-grey font-weight-light nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="text-grey font-weight-light nav-link" href="/#features"
          >Features</a
        >
      </li>
      <li class="nav-item">
        <a class="text-grey font-weight-light nav-link" href="/#pricing"
          >Pricing</a
        >
      </li>
      <li class="nav-item mr-3">
        <a class="text-grey font-weight-light nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary my-2 my-sm-0 text-grey">Try Muneem</a>
      </li>
    </ul>
  </div>
</nav>
