<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <link rel="stylesheet" href="../../../../css/style.css" />
  <body style="background-color: #f1faee;">
    {% include navbar.html %}
    <div class="container pt-3 pb-2 post-container">
      <h1 class="mb-2 text-center">Blog Posts</h1>
      <hr class="section-underline" />
      <div class="bottom-shadow">
        <div class="container pb-4">
          <div class="posts">
            {% for post in site.posts %}
            <div class="m-2">
              <div class="card rounded p-3">
                <article class="post h-100">
                  <h5 class="mb-4 font-weight-bold">
                    <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}"
                      >{{ post.title }}</a
                    >
                  </h5>
                  <div class="entry mb-4">{{ post.excerpt }}</div>
                  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"
                    >Read More</a
                  >
                </article>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
